<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="AdminEmail" value="lchiang2@my.centennialcollege.ca" />
  </appSettings>
  
  <connectionStrings>
    <add name="RB_RecipeBook"
        connectionString="Server=LISAPC;Database=RB_RecipeBook;Integrated Security=True"
        providerName="System.Data.SqlClient"/>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer"
         connectionString="Server=LISAPC;Database=RB_RecipeBook;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

 
  
  <system.web>
    
    <authorization>
      <deny users="?" />
    </authorization>
    
    <authentication mode="Forms" />
    <roleManager enabled="true" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>

</configuration>
